<!DOCTYPE html>
<html lang="zh-Hant"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(pageTitle, content, pagejs)">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title th:text="${pageTitle} + ' - NovaLedger'">NovaLedger</title>

    <link rel="icon" type="image/svg+xml" th:href="@{/images/novaledger-favicon-Growth.svg}"/>

    <meta name="_csrf" th:content="${_csrf?.token}"/>
    <meta name="_csrf_header" th:content="${_csrf?.headerName}"/>

    <th:block th:replace="~{fragments/navbar :: vendor-css}"></th:block>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/vendor/fontawesome.all.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/vendor/select2.min.css}" rel="stylesheet"/>
</head>

<body class="sb-nav-fixed">

<nav th:replace="~{fragments/navbar :: topnav}"></nav>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav th:replace="~{fragments/navbar :: sidenav}"></nav>
    </div>

    <div id="layoutSidenav_content">
        <main>
            <th:block th:insert="${content}"></th:block>
        </main>

        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; NovaLedger 2026</div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script th:src="@{/js/vendor/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<th:block th:replace="~{fragments/navbar :: vendor-js}"></th:block>

<th:block th:insert="${pagejs}"></th:block>

</body>
</html>
